<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="name in names" >{{name}}</li>
    </ul>
        <input type="text" name="newname" id="newname" v-model="newname">   
        <button id="addnewname" @click="addnewname" >addnewname</button>   
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                newname:'',
                names:["ahemsd","ssssss","sssssad"],
            },
            methods: {
                addnewname(){
                    this.names.push(this.newname);
                    this.newname='';
                }
            },
        })
    </script>
</body>
</html>